body {
    font-family: 'Courier New', monospace;
    background-color: black;
    color: green;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title {
    color: white;
}

/* レスポンシブデザインのためのメディアクエリ */
@media (max-width: 800px) {
    .member {
        flex-basis: 45%; /* 画面幅が800px以下の場合、ベースサイズを変更 */
    }
}

@media (max-width: 500px) {
    .member {
        flex-basis: 100%; /* 画面幅が500px以下の場合、フル幅で表示 */
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: green;
    text-decoration: none;
}

/* 通常、訪問済み、マウスオーバー時、アクティブ時のリンクの色を緑色に設定 */
nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: green;
    text-decoration: none;
}

section {
    padding: 20px;
}


/* メンバーリスト内のリンクにも同じスタイルを適用 */
.member a:link, .member a:visited, .member a:hover, .member a:active {
    color: green;
    text-decoration: none;
}

/* Community Members セクションのスタイル */
#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* メンバー間の間隔 */
}

.member {
    flex-basis: 30%; /* 各メンバーのベースサイズ */
    text-align: center; /* テキストを中央揃えに */
}

