body {
    font-family: 'Courier New', monospace;
    background-color: black;
    color: rgb(94, 215, 54);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title {
    color: white;
}

/* スマートフォンや小さなタブレット向けのスタイル */
@media (max-width: 600px) {
    body {
        font-size: 16px; /* フォントサイズを大きくする */
    }

    /* プロフィール画像のサイズを大きくする */
    #member-profile img {
        max-width: 300px; /* 画像の最大幅を増やす */
    }

    /* メンバーリストのレイアウトを調整 */
    .member {
        flex-basis: 100%; /* メンバーを1列に表示 */
        text-align: left; /* テキストを左揃えにする */
    }
}

/* 中サイズのデバイス向けのスタイル */
@media (min-width: 601px) and (max-width: 800px) {
    body {
        font-size: 14px; /* フォントサイズを適切に調整 */
    }

    /* その他の必要なスタイル調整 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: green;
    text-decoration: none;
}

/* 通常、訪問済み、マウスオーバー時、アクティブ時のリンクの色を緑色に設定 */
nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: green;
    text-decoration: none;
}

section {
    padding: 20px;
}


/* メンバーリスト内のリンクにも同じスタイルを適用 */
.member a:link, .member a:visited, .member a:hover, .member a:active {
    color: green;
    text-decoration: none;
}

/* Community Members セクションのスタイル */
#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* メンバー間の間隔 */
}

.member {
    flex-basis: 30%; /* 各メンバーのベースサイズ */
    text-align: center; /* テキストを中央揃えに */
}

/* プロフィール画像のスタイル */
#member-profile img {
    max-width: 150px; /* 最大幅を150pxに設定 */
    height: auto; /* 高さを自動調整 */
}

