:root {
  --text-color: rgb(122, 250, 79);
}

body {
    font-family: 'Courier New', monospace;
    background-color: rgb(2, 2, 3);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10pt;
}

.title {
    color: white;
}

/* スマートフォンや小さなタブレット向けのスタイル */
@media (max-width: 600pt) {
    body {
        font-size: 12pt; /* フォントサイズを大きくする */
    }

    /* プロフィール画像のサイズを大きくする */
    #member-profile img {
        max-width: 300pt; /* 画像の最大幅を増やす */
    }

    /* メンバーリストのレイアウトを調整 */
    .member {
        flex-basis: 100%; /* メンバーを1列に表示 */
        text-align: left; /* テキストを左揃えにする */
    }
}

/* 中サイズのデバイス向けのスタイル */
@media (min-width: 601pt) and (max-width: 800pt) {
    body {
        font-size: 14pt; /* フォントサイズを適切に調整 */
    }

    /* その他の必要なスタイル調整 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20pt;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

/* 通常、訪問済み、マウスオーバー時、アクティブ時のリンクの色を緑色に設定 */
nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: var(--text-color);
    text-decoration: none;
}

section {
    padding: 20pt;
}


/* メンバーリスト内のリンクにも同じスタイルを適用 */
.member a:link, .member a:visited, .member a:hover, .member a:active {
    color: var(--color-text);
    text-decoration: none;
}

/* Community Members セクションのスタイル */
#members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20pt; /* メンバー間の間隔 */
}

.member {
    flex-basis: 30%; /* 各メンバーのベースサイズ */
    text-align: left; /* テキストを中央揃えに */
}

/* プロフィール画像のスタイル */
#member-profile img {
    max-width: 150pt; /* 最大幅を150ptに設定 */
    height: auto; /* 高さを自動調整 */
}

